.no_data {
  color: var(--leftSideText);
  font-size: 0.85rem;
  font-family: var(--ff-regular);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  text-align: center;
}
#directIndex__Comp {
  .left-l {
    position: relative;
    z-index: 9;
    height: 100%;
    padding: 1rem 0 0 0.5rem;
    width: 16%;
    min-width: 15rem;
  }

  .right-l {
    position: fixed;
    z-index: 9;
    height: 100%;
    padding: 1rem 0 0 1rem;
    width: 17%;
    min-width: 16rem;
    right: 0;
    top: 0;
    padding-top: 3rem;
  }
}

.reviewFactsheet_Direct {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 22rem;
  padding-top: 3rem;
  z-index: 1;
}

.basedOn__sec {
  position: fixed;
  top: 3.2rem;
  right: 0;
  left: 0;
  margin: auto;
  width: fit-content;
  font-size: 0.65rem;
  color: var(--leftSideText-B);
  font-family: var(--ff-semibold);
  background: var(--topNavbar);
  padding: 0.2rem 1rem;
  border-radius: 0.3rem;

  .indName {
    color: var(--linkColor);
  }

  .divided {
    color: var(--paraFontColorAlt);
    font-size: 0.6rem;
  }
}

.account__details__popup {
  .cashFlowWrapper {
    border-radius: 0.5rem;

    p {
      font-size: 0.7rem;
      font-family: var(--ff-regular);
      color: var(--leftSideText);
      margin: 0 !important;
    }

    .high_text {
      font-size: 0.6rem;
      font-family: var(--ff-regular);
      color: var(--iconColor);
      padding-right: 0.5rem;

      b {
        font-family: var(--ff-medium);
      }
    }

    .market-info {
      font-size: 1.2rem;
      width: auto;
      height: auto;
      margin-left: 0.25rem;
      color: var(--iconColorHover);
    }

    .cashFlowValue {
      padding: 0.5rem;

      ul {
        padding: 0;
        list-style: none;
        margin: 0;

        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 0.5rem;

          p {
            font-size: 0.7rem;
            font-family: var(--ff-regular);
            color: var(--leftSideText);
            margin: 0 !important;

            &.cashFlowTax {
              width: 65%;
              display: inline-block;
            }
          }

          .per_sym {
            font-size: 0.8rem;
            right: 0.8rem;
            top: 50%;
            font-family: var(--ff-regular);
            color: var(--leftSideText);
            position: absolute;
            transform: translate(0, -50%);
          }

          input {
            background: transparent;
            border: 1px solid var(--border);
            width: 4rem;
            height: 1.8rem;
            border-radius: 0.2rem;
            color: var(--leftSideText);
            font-size: 0.7rem !important;
            text-align: right;

            &:focus {
              box-shadow: none;
            }
          }

          input[type=number]::-webkit-inner-spin-button,
          input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &:nth-child(2) {
            &.cashFlow {
              flex-direction: column;
            }
          }


          &.cashFlow {


            p {
              font-size: 0.7rem;
              font-family: var(--ff-regular);
              color: var(--leftSideText);
              margin: 0 !important;
            }

            .mat-mdc-form-field {
              // height: 1.8rem;
              width: 25%;

              .mat-mdc-text-field-wrapper {
                padding-left: 0px;
                border-radius: 0.2rem;
                border: 0px solid var(--border);
                background: transparent;

                .mat-mdc-form-field-infix {
                  padding: 0;

                  input {
                    width: 100% !important;
                    border: 0;
                    color: var(--leftSideText);
                    text-align: left;
                    font-size: 0.6rem !important;

                    &::-webkit-input-placeholder {
                      font-size: 0.7rem !important;
                      color: var(--leftSideText);
                    }
                  }
                }

                .mat-mdc-form-field-icon-suffix {
                  background: var(--border);
                  padding: 0 !important;
                  // line-height: 1;
                  width: 20px;
                  justify-content: center;
                  display: flex;
                  border-radius: 0;
                  border: 0px solid #3940f1;
                  position: absolute;
                  right: 0px;
                  height: 1.7rem;
                  align-items: center;
                  top: 50%;
                  transform: translate(0, -50%);
                  border-radius: 0 0.2rem 0 0;

                  button {
                    padding: 0;
                    width: auto;
                    height: auto;

                    .mat-mdc-button-persistent-ripple {
                      display: none;
                    }

                    svg {
                      width: 11px !important;
                      fill: var(--leftSideText);
                      // margin-right: 0.2rem;
                    }

                    .mat-mdc-button-touch-target {
                      display: none;
                    }
                  }
                }

                .mdc-line-ripple {
                  display: none;
                }

                .mat-mdc-form-field-infix {
                  min-height: auto;
                }
              }

              .mat-mdc-form-field-subscript-wrapper {
                display: none;
              }
            }

            .mat-form-field-appearance-outline {
              .mat-mdc-text-field-wrapper {
                height: 1.8rem;
                border-radius: 0.3rem;
                background: var(--border);
                padding: 0 0.5rem;

                @media (min-width: 1600px) and (max-height: 1200px) {
                  height: 1.8rem;
                }

                .mat-mdc-form-field-flex {
                  height: 100%;
                  .mat-mdc-form-field-infix {
                    // height: 1.8rem;
                    height: 100%;
                    min-height: auto;
                    padding: 0.1rem;
                    // display: flex;
                    // align-items: center;

                    @media (min-width: 1600px) and (max-height: 1200px) {
                      height: 1.8rem;
                    }

                    .mat-mdc-select {
                      width: 100%;
                      font-size: .7rem;
                      font-family: var(--ff-regular);
                      color: var(--leftSideText) !important;
                      display: block;
                      height: 100%;
                      .mat-mdc-select-trigger {
                        display: flex;
                        height: 100%;
                        .mat-mdc-select-value {
                          font-size: .7rem;
                          font-family: var(--ff-regular);
                          color: var(--leftSideText) !important;
                          text-align: left;
                          padding-right: 0.5rem;
                          height: 100%;
                          display: flex;
                          align-items: center;
                          @media (min-width: 1600px) and (max-height: 1200px) {
                            top: 0;
                          }

                          .mat-mdc-select-placeholder {
                            color: var(--leftSideText) !important;
                          }
                        }
                      }
                    }

                    .mat-mdc-select-arrow {
                      color: var(--leftSideText);
                    }
                  }

                  label {
                    top: 50%;
                    font-size: .7rem;
                    font-family: var(--ff-regular);
                    color: var(--leftSideText) !important;
                    position: static;
            transform: inherit;
                    // overflow: inherit;
                    // cursor: pointer;

                    mat-label {
                      // position: relative;
                      // top: -0.5rem;

                      @media (min-width: 1600px) and (max-height: 1200px) {
                        // top: -0.3rem;
                      }
                    }
                  }

                  .mdc-notched-outline__leading {
                    width: 3px;
                    border-color: var(--border) !important;
                  }

                  .mdc-notched-outline__notch {
                    border-color: var(--border) !important;
                  }

                  .mdc-notched-outline__trailing {
                    border-color: var(--border) !important;
                  }
                }
              }

              .mat-mdc-form-field-subscript-wrapper {
                display: none;
              }


              &.mat-form-field-can-float.mat-form-field-should-float {
                .mat-form-field-label {
                  display: none;
                }
              }

              &.matFormError {
                .mat-mdc-text-field-wrapper {
                  border: 1px solid var(--danger);
                }
              }

              .mat-form-field-wrapper {
                margin: 0;
              }
            }
            // Floating label
            .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
              display: none;
            }
            .bt_nobg{
              .mat-form-field-appearance-outline {
                .mat-mdc-text-field-wrapper {

  
                  .mat-mdc-form-field-flex {
                    .mat-mdc-form-field-infix {

                      .mat-mdc-select {
  
                        .mat-mdc-select-trigger {
                          .mat-mdc-select-value {
                            text-align: right !important;
                            justify-content: end
                          }
                        }
                      }

                    }
  
  
                  }
                }

              }
            }
          }
        }
      }
    }
  }
}
@import '../../core/layout/styles/responsive/directIndex.scss';
