/*$--topNavbar: #191932;
$--pageBgColor: #05050f;
$--cardBgColor: #191932;
$--svgbg: #26273F;*/
/*** textColor ***/
/*$--headFontColor: #dce1ea;
$--paraFontColor: #9ba3b1;
$--linkColor: #2681f8;
$--linkColorAlt: #7f85f5;*/
/*** iconColor ***/
/*$--iconColor: #8989b2;
$--iconColorHover: #1a61e5;
$--warningColor: #ffc107;
$--errorColor: #dc3545;
$--successColor: #3f9729;

$--dropdownBgHover: #2d2d4f;
$--navDropdownBg: #323248;

$--circleRectColor: #424247;
$--cardsHighlightColor: #232345;
$--cardsHighlightColorDark: #121225;
$--border: #2b2c48;
$--borderAlt: #343553;*/

/*** Modals ***/
/*$--modalFooter: #2b2c48;
$--modalBodyColor: #121225;
$--modalHeaderColor: #121225;*/

/*** Buttons ***/
/*$--defButtonBgColor: #1a61e5;
$--defButtonBgColorAlt: #7f85f5;
$--defButtonBgColorDark: #192044;
$--cancelButtonBg: #2a2a3c;
$--btnTextColorDark: #00010d;
$--btnTextColorLight: #9ba3b1;
$--btnTextColorBright: #dce1ea;
$--scrollBar: #4d5067;*/
/*** Buttons ***/
/*// White Color
$--primary-logo: #fff;
$--cardBgColor2: #1e1e2d;
// White Color
$--accordion:#161629;
$--accordionChild:#151521;*/

$--topNavbar: #1b223c;
$--pageBgColor: #151a2e;
$--pageBgColorDark: #0f1221;
$--cardBgColor: #191932;
$--svgbg: #26273F;
/*** textColor ***/
$--headFontColor: #F7F7F9;
$--paraFontColor: #a5adbe;
$--linkColor: #7f85f5;
$--linkColorAlt: #7f85f5;
/*** iconColor ***/
$--iconColor: #cbd1e7;
$--iconColorHover: #7059f1;
$--warningColor: #ffc107;
$--errorColor: #dc3545;
$--successColor: #3f9729;

$--dropdownBgHover: rgb(51 55 78 / 75%);
$--navDropdownBg: #2b2f42;
$--navDropdownActive: #3a405a;
$--spinnerOverlay: #1b223cd9;

$--circleRectColor: #6b727f;
$--cardsHighlightColor: #212a48;
$--cardsHighlightColorAlt: #3a405a;
$--cardsHighlightColorDark: #14192b;
$--border: #2b3455;
$--borderAlt: #2b3455;

/*** Modals ***/
$--modalFooter: #1b223c;
$--modalBodyColor: #151a2e;
$--modalHeaderColor: #151a2e;

/*** Buttons ***/
$--defButtonBgColor: #7059f1;
$--defButtonBgColorAlt: #7f85f5;
$--defButtonBgColorDark: #192044;
$--cancelButtonBg: #212949;
$--btnTextColorDark: #00010d;
$--btnTextColorLight: #9ba3b1;
$--btnTextColorBright: #dce1ea;
$--scrollBar: #4d5067;
/*** Buttons ***/
// White Color
$--primary-logo: #fff;
$--cardBgColor2: #1e1e2d;
// White Color
$--accordion: #212949;
$--accordionChild: #212949;


$--layout2-pallete: #03a7b9;
$--layout3-pallete: #1a61e5;
$--layout4-pallete: #954eea;
