<!--@if(showCenterLoader){-->

<svg id="defCenCircle_loader" [style.display]="showCenterLoader?'block':'none'" class="defCenCircle_loaderSVG" viewBox="202 45 1220 700" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
     version="1.1">
  <!--<circle r="395" fill="var(--primary-color)" transform="translate(810,405)"></circle>-->
  <rect width="750" [attr.width]="classFlag?'750':'700'" [attr.transform]="classFlag?'translate(450,5)':'translate(475,5)'" height="900" fill="var(--primary-color)" transform="translate(450,5)"></rect>
  <circle cx="160" cy="160" r="148" fill="var(--primary-color)" transform="translate(672,245)"></circle>
  <!--<g class="Homecenter_load" style="" transform="translate(810,285)">
    <g id="gCircleSlider_load" class="Circle_Slider_load" transform="scale(0.84)translate(0,26)">
      <g viewBox="0 0 120 120">
        <defs><clipPath id="defalutmyMask123"><circle cx="160" cy="160" r="146" fill="white" /></clipPath></defs>
      </g>
    </g>

    <g class="circle-loader-ske-default" clip-path="url(#defalutmyMask123)" style="transform: translate(-124px, -24px) scale(0.9); display: block">
      <defs>
        <mask id="mask-element">
          <rect fill="var(--cardsHighlightColorDark)" height="15" rx="2" ry="2" width="100" x="30" y="0"></rect>
          <rect fill="var(--cardsHighlightColorDark)" height="15" rx="2" ry="2" width="100" x="30" y="20"></rect>
          <rect fill="var(--cardsHighlightColorDark)" height="20" rx="2" ry="2" width="120" x="20" y="55"></rect>
          <rect fill="var(--cardsHighlightColorDark)" height="50" rx="2" ry="2" width="120" x="20" y="80"></rect>
          <rect fill="var(--cardsHighlightColorDark)" height="15" rx="2" ry="2" width="150" x="5" y="200"></rect>
          <rect fill="hsla(200,0%,10%,.6)" height="225" rx="2" ry="2" width="10" x="0" y="0" id="mask"></rect>
        </mask>
      </defs>
      <g style="transform: translate(80px, 65px);">
        <circle cx="160" cy="160" fill="var(--primary-color)" r="148" style="transform: translate(-80px, -68px);"></circle>
        <rect fill="#e7ebf2" height="15" mask="url(#mask-element)" rx="2" ry="2" width="100" x="30" y="0"></rect>
        <rect fill="#e7ebf2" height="15" mask="url(#mask-element)" rx="2" ry="2" width="100" x="30" y="20"></rect>
        <rect fill="#e7ebf2" height="20" mask="url(#mask-element)" rx="2" ry="2" width="120" x="20" y="55"></rect>
        <rect fill="#e7ebf2" height="50" mask="url(#mask-element)" rx="2" ry="2" width="120" x="20" y="80"></rect>
        <rect fill="#e7ebf2" height="15" mask="url(#mask-element)" rx="2" ry="2" width="150" x="5" y="200"></rect>
      </g>
    </g>
  </g>-->
  <g class="mainLoaderShow_load" id="mainToolLoader_load" style="display:block">
    <defs>
      <linearGradient id="gradient1" y1="0" y2="1">
        <stop stop-color="#1f1f32" offset="0" />
        <stop stop-color="#aeb6c5" offset="1" />
      </linearGradient>
    </defs>
    <g class="mainLoaader_load" style="transform: translate(664px, 236px) scale(8.4)">
      <svg class="spinner_load">
        <circle cx="20" cy="20" r="18" stroke="url(#gradient1)"></circle>
      </svg>
    </g>
    <g style="transform: translate(760px, 400px)">
      <rect width="150" height="25" fill="var(--primary-color)" rx="5" ry="5"></rect>
      <text x="15" y="16" fill="var(--iconColor)" style="font-family: var(--ff-regular);font-size: 14px;">Loading...</text>
      <text x="80" y="16" fill="var(--leftSideText)" style="font-family: var(--ff-regular); font-size: 10px;">Please Wait</text>
    </g>
    <rect height="700" width="1220" transform="translate(200,0)" style="    stroke: transparent;
         stroke-width: 2px;fill: transparent;" x="0" y="70" rx="15" ry="15"></rect>
  </g>
</svg>
<!--}-->

