<div class="bcum-list-l-n d-flex align-items-center w-100">
  <div class="b-outer d-flex align-items-center">
    <div class="d-flex align-items-center">
      @if(showBackBtn){
      <div class="b-drop-n1 d-flex">
        <div class="go-back-ico" (click)="onPreviousGrp();closeFactsheet();">
          <span class="material-icons">arrow_back_ios</span>
        </div>
      </div>
      <div class="clkdTxtView d-flex">
        <span class="b-text-n-d" *ngIf="selectedPath.length>0">{{selectedPath[selectedPath.length-1].name}}</span>
        <!--<span class="d-flex align-items-center">
          <span class="material-icons go-home-ico" (click)="gotoHome();closeFactsheet();dirIndexService.eventTrack('breadcrum home click',{name:'home btn'})">home</span>
          <span class="b-text-n-ico">
            @for (bcrumb of selectedPath | firstAndLast; track bcrumb;let index = $index) {
            <span class="d-flex align-items-center hideB">
              <span class="b__list" (click)="dirIndexService.directBrcmClick(index);dirIndexService.eventTrack('breadcrum click',bcrumb)">{{bcrumb.name}}</span>
              <span class="material-icons __horiz" *ngIf="selectedPath.length>2">navigate_next</span>
              <span class="material-icons __horiz" *ngIf="selectedPath.length>2">more_horiz</span>
              <span class="material-icons">navigate_next</span>
            </span>
            }
          </span>
        </span>-->
      </div>
      }
      @else{
      <div class="clkdTxtView d-flex">
        <span class="b-text-n nw">Custom</span>
      </div>
      }
    </div>
  </div>
</div>
