<div class="d-flex align-items-center justify-content-between comp__head pb1rem pl0_5rem pr1rem">
  @if(sortedCustomerIndexGridData.length>0){
  <h4 class="d-flex align-items-center">
    Components
    <span class="count d-flex">{{sortedCustomerIndexGridData.length}}</span>
  </h4>
  }@else{
  <h4 class="d-flex align-items-center">Components</h4>
  }
  <div class="d-flex align-items-center no_line_height">
    <span class="material-icons mr0_5rem" (click)="openSearch()">
      search
    </span>
    <div class="dropdown">
      <span class="material-icons" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        swap_vert
      </span>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <ul>
          <li class="d-flex">
            <a class="dropdown-item sort_btn">
              Sort by
              <button class="btn btn-primary d-flex align-items-center sort-reset" (click)="sharedData.sortResetDefault('R','ci')">
              <span class="material-icons" style="font-size: 0.85rem;margin-right:0.2rem"> refresh</span> Reset</button>
            </a>

          </li>
          @for (item of FilterList; track item) {
          @if(item.value < 5){
          <li>
            <a class="dropdown-item" [class.active]="item.value === SelFilter" (click)="FilterChanged(item)">{{item.name}}</a>
            <span class="sortingArrow" [style.display]="item.value === SelFilter ? 'block' : 'none'" (click)="onToggleAscending();$event.stopPropagation()">
              @if(ascending_val){
              <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.68765 0.390435C3.84778 0.190272 4.15222 0.190272 4.31235 0.390434L7.4801 4.35012C7.68962 4.61203 7.50315 5 7.16775 5H0.83225C0.496848 5 0.310378 4.61203 0.519902 4.35012L3.68765 0.390435Z"
                      fill="#fff" />
                <path d="M4.31235 12.6096C4.15222 12.8097 3.84778 12.8097 3.68765 12.6096L0.519903 8.64988C0.310378 8.38797 0.496847 8 0.83225 8H7.16775C7.50315 8 7.68962 8.38797 7.4801 8.64988L4.31235 12.6096Z"
                      fill="#fff" style="opacity: 0.2;" />
              </svg>
              }
              @else{
              <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.68765 0.390435C3.84778 0.190272 4.15222 0.190272 4.31235 0.390434L7.4801 4.35012C7.68962 4.61203 7.50315 5 7.16775 5H0.83225C0.496848 5 0.310378 4.61203 0.519902 4.35012L3.68765 0.390435Z"
                      fill="#fff" style="opacity: 0.2;" />
                <path d="M4.31235 12.6096C4.15222 12.8097 3.84778 12.8097 3.68765 12.6096L0.519903 8.64988C0.310378 8.38797 0.496847 8 0.83225 8H7.16775C7.50315 8 7.68962 8.38797 7.4801 8.64988L4.31235 12.6096Z"
                      fill="#fff" />
              </svg>
              }
            </span>
          </li>
          }
          }
          <li>
            @if(factorId > 0 && factorId != 18){
            <a class="dropdown-item" [class.active]="'FV_asc' === SelFilter" (click)="FilterChanged({value:'FV_asc'})">{{checkFactName()}}</a>
            <span class="sortingArrow" [style.display]="'FV_asc' === SelFilter ? 'block' : 'none'" (click)="onToggleAscending();$event.stopPropagation()">
              @if(ascending_val){
              <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.68765 0.390435C3.84778 0.190272 4.15222 0.190272 4.31235 0.390434L7.4801 4.35012C7.68962 4.61203 7.50315 5 7.16775 5H0.83225C0.496848 5 0.310378 4.61203 0.519902 4.35012L3.68765 0.390435Z"
                      fill="#fff" />
                <path d="M4.31235 12.6096C4.15222 12.8097 3.84778 12.8097 3.68765 12.6096L0.519903 8.64988C0.310378 8.38797 0.496847 8 0.83225 8H7.16775C7.50315 8 7.68962 8.38797 7.4801 8.64988L4.31235 12.6096Z"
                      fill="#fff" style="opacity: 0.2;" />
              </svg>
              }
              @else{
              <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.68765 0.390435C3.84778 0.190272 4.15222 0.190272 4.31235 0.390434L7.4801 4.35012C7.68962 4.61203 7.50315 5 7.16775 5H0.83225C0.496848 5 0.310378 4.61203 0.519902 4.35012L3.68765 0.390435Z"
                      fill="#fff" style="opacity: 0.2;" />
                <path d="M4.31235 12.6096C4.15222 12.8097 3.84778 12.8097 3.68765 12.6096L0.519903 8.64988C0.310378 8.38797 0.496847 8 0.83225 8H7.16775C7.50315 8 7.68962 8.38797 7.4801 8.64988L4.31235 12.6096Z"
                      fill="#fff" />
              </svg>
              }
            </span>
            } @else if(cusIndexService.rememptyGD() || factorId == 18){
            <a class="dropdown-item" [class.active]="'erf_Score' === SelFilter" (click)="FilterChanged({value:'erf_Score'})">h-factor Score</a>
            <span class="sortingArrow" [style.display]="'erf_Score' === SelFilter ? 'block' : 'none'" (click)="onToggleAscending();$event.stopPropagation()">
              @if(ascending_val){
              <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.68765 0.390435C3.84778 0.190272 4.15222 0.190272 4.31235 0.390434L7.4801 4.35012C7.68962 4.61203 7.50315 5 7.16775 5H0.83225C0.496848 5 0.310378 4.61203 0.519902 4.35012L3.68765 0.390435Z"
                      fill="#fff" />
                <path d="M4.31235 12.6096C4.15222 12.8097 3.84778 12.8097 3.68765 12.6096L0.519903 8.64988C0.310378 8.38797 0.496847 8 0.83225 8H7.16775C7.50315 8 7.68962 8.38797 7.4801 8.64988L4.31235 12.6096Z"
                      fill="#fff" style="opacity: 0.2;" />
              </svg>
              }
              @else{
              <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.68765 0.390435C3.84778 0.190272 4.15222 0.190272 4.31235 0.390434L7.4801 4.35012C7.68962 4.61203 7.50315 5 7.16775 5H0.83225C0.496848 5 0.310378 4.61203 0.519902 4.35012L3.68765 0.390435Z"
                      fill="#fff" style="opacity: 0.2;" />
                <path d="M4.31235 12.6096C4.15222 12.8097 3.84778 12.8097 3.68765 12.6096L0.519903 8.64988C0.310378 8.38797 0.496847 8 0.83225 8H7.16775C7.50315 8 7.68962 8.38797 7.4801 8.64988L4.31235 12.6096Z"
                      fill="#fff" />
              </svg>
              }
            </span>

            }
          </li>
        </ul>


      </div>
    </div>

  </div>
</div>
<div class="search-block mat-elevation-z4" [class.active]="toggleSearch">
  <div class="d-flex align-items-center">
    <span class="material-icons disable">
      search
    </span>
    <input (keydown)="onkeysDown($event)" appRemoveSpecialCharacters minlength="1" maxlength="50" class="search-control" type="text" placeholder="search" [(ngModel)]="searchText" (input)="filterItems()" #searchBox>
    <span class="material-icons" (click)="searchClose()">
      close
    </span>
  </div>
</div>

<div class="scrollbox outerScroll__Div componentScroll">
  <div class="construction h-100">
    @if(sortedCustomerIndexGridData.length>0){
    <cdk-virtual-scroll-viewport itemSize="30" minBufferPx="700" maxBufferPx="700" class="w-100 h-100 scrollbox" style="padding-top:0.8rem">
      <ul>
        <li *cdkVirtualFor="let data of sortedCustomerIndexGridData;">
          <div class="list__sec" (click)="clickComp(data)" [class.active]="data.stockKey == highlightList">
            <div class="d__border" [style.border-color]="(checkGridActive())?'var(--leftSideText-B) !important': data['scores'] != null ? cl(data.colorVal): 'var(--border)'" [attr.data-index]="data.stockKey">
              <p class="ind__name">{{data['companyName'] | nullDashPipe:''}}</p>
              <div class="d-flex align-items-center justify-content-between customW_Price">
                <span class="ticker text-left"><span class="inner__tick">{{data['ticker'] | nullDashPipe :''}}</span></span>
                <span class="price text-right" style="color: var(--paraFontColorAlt)">{{data['price'] | priceFormat  :',.2f':data['currency'] }}</span>
                @if(!checkGridActive()){
                <span class="price text-right ">
                  <span class="med-e" [style.background-color]="data['scores'] != null ? cl(data.colorVal): 'transparent'" [style.color]="(data.colorVal>=0 && data.colorVal<=35) || (data.colorVal>=60)?'#fff':'#000'">{{data['scores'] | numFormatWithDash:'per'}}</span>
                </span>
                } @else if(factorId > 0 && factorId != 18){
                <span class="price text-right">{{data | factorDashFormat:factorId }}</span>
                } @else{
                <span class="price text-right">{{data['marketCap'] | markerCapFormat }}</span>
                }
                <div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </cdk-virtual-scroll-viewport>
    }
    @else{
    @if(!sharedData._showCenterLoader){
    <div class="no_data" style="display:flex">No results found. Revise your search.</div>
    }@else{
    <div class="no_data" style="display:flex">Loading please wait...</div>
    }
    }
  </div>

</div>
