
$sec-active-blue: #012252; /// secondary active blue color
$fade-grey-circle: #A0A0A0; /// Add slider competative grey
$primary-text-grey: #4b4b4b; /// Competitive companies text color

  .w-100 {
    width: 100%;
  }


