.mat-mdc-form-field {
  width: 100%;
  min-width: 20rem;
}


.signup-outer {
  /*margin-top: 90px;
  margin-bottom: 90px;*/
  padding: 2.5rem 4rem;
  border-radius: 20px;
  width: 100%;
  /*height: 700px;*/
}

.signup-outer .container-fill {
  height: 100%;
}

.valTick {
  position: absolute;
  top: 1.6rem;
  right: 1rem;
  z-index: 2;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
  color: #3c763d;
  font-weight: 600;
  font-size: 20px;
}

.valTick.activate_tick:before {
  content: "\2713";
}

.checkmark {
  font-size: 0.7rem;
  color: var(--leftSideText);
  /* position: absolute;
  left: 0;
  bottom: 0.5rem; */
  line-height: 1.1;
  margin-top: 1rem;
}

.btn-theme {
  background-color: var(--prim-button-color) !important;
}
.logIn-container_exp {
  background: var(--topNavbar) !important;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* flex-direction: column;*/
  height: 100%;
  width: 40%;
  margin: 0 auto;

  .logo-sec {
    width: 7rem;
  }
}
  .logIn-container {
    background: var(--topNavbar) !important;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* flex-direction: column;*/
    height: 100%;
    width: 70%;
    margin: 0 auto;

    .logo-sec {
      width: 7rem;
    }
  }

  .login-title h2 {
    color: var(--leftSideText-B);
    padding-bottom: 1.75rem;
    padding-top: 1.75rem;
    display: inline-block;
    font-size: 1.8rem;
    font-family: var(--ff-light);
    text-transform: capitalize;
  }

  .mright-2 .mat-mdc-form-field:first-child {
    margin-right: 2rem;
  }

  .btn.btn-contact {
    opacity: 1;
    /*background: #fff;*/
    /*color: #fff;*/
    cursor: pointer;
    width: 100%;
    /*border-radius: 12px;*/
  }

  .btn.disabled, .btn:disabled {
    opacity: .5;
    /*background: #eee;*/
    cursor: not-allowed;
    border: none;
  }

  .logIn-container .d-flex {
    width: 100%;
  }

  .logIn-container label {
    margin-bottom: 0;
    /* color: #4b4b4b; */
    color: var(--leftSideText);
    font-size: 0.85rem;
    font-family: var(--ff-medium);
    /* font-family: Open Sans; */
    padding-left: 5px;
    padding-bottom: 0.3rem;
  }

  .logIn-container label .asterisk-valid {
    color: #f44336;
  }

  .logIn-container .mat-mdc-form-field-infix {
    padding: 15px 0 12px !important;
    margin-top: 0;
    border-top: 0;
  }

  .mat-mdc-form-field-appearance-outline .mat-mdc-form-field-outline-start {
    border-radius: 0;
    border-right-style: none;
  }

  .mat-mdc-form-field-appearance-outline .mat-mdc-form-field-outline-end {
    border-radius: 0;
    border-left-style: none;
    flex-grow: 1;
  }

  .userLogIn {
    margin-top: 1.5rem;
    cursor: pointer;
    transition: .4s;
    color: var(--prim-button-color-text);
    font-size: 1rem;
    text-decoration: none !important;
    font-family: var(--ff-medium);
    display: inline-block;
  }

  .returnBtn {
    width: 280px;
    font-family: var(--ff-medium);
    color: var(--leftSideText-B);
    transition: .2s;
    margin-top: 1.3rem;
    font-size: 1rem;
    border: none;
  }

  .eyeShow span {
    font-size: 1rem;
    color: var(--leftSideText);
    cursor: pointer;
  }
  /*.returnBtn:hover {
    background: #009eda !important;
  }*/
  .txt-fields-wdth {
    width: 100% !important;
    margin: auto;
    min-width: 12rem;
    padding-top: 0.5rem;
  }
  /*button.userLogIn:hover {
  background: linear-gradient(45deg,#00b9ff 0,#2e4c99 100%) !important;
}*/

  button.userSignUp {
    /*background: #00b9ff;*/
    color: #fff;
    width: 280px;
    font-family: 'Open Sans semiBold';
    font-size: 15px;
    transition: .2s;
    margin-bottom: 2.5rem;
  }
  /*button.userSignUp:hover {
    background: linear-gradient(45deg,#00b9ff 0,#2e4c99 100%) !important;
  }*/

  .use-6 {
    padding-top: 18px;
  }

  .full-resp {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 50px);
    align-items: center;
  }

  @media (max-width: 767px) {
    .logIn-container {
      padding: 3rem 1rem 2rem 1rem;
      height: auto;
    }

    .full-resp {
      padding: 0 !important;
      height: auto;
    }

    .signup-outer .container-fill {
      height: 100%;
      display: flex;
      align-items: center;
    }


    .login-title h2 {
      font-size: 1rem;
    }

    .return-hf-btn-change {
      font-size: 0.9rem !important;
    }

    .login-title h2 {
      font-size: 1rem;
    }

    .fd-col-res {
      flex-direction: column;
    }

    .signup-outer {
      padding: 20px;
    }

    .btn.btn-contact {
      width: 100%;
    }

    button.userSignUp {
      width: 100%;
    }

    .txt-fields-wdth {
      width: 100% !important;
    }
  }

  input, input::-webkit-input-placeholder {
    font-size: 13px !important;
  }

  @media (max-width: 576px) {
    .full-resp {
      padding: 0 !important;
      height: calc(100vh - 50px);
    }

    .signup-outer {
      padding: 20px;
    }

    .full-resp .signup-outer {
      border-radius: 0px;
      margin-top: 57px;
      margin-bottom: 0;
    }

    .signup-outer {
      height: auto;
    }
  }

  .strength {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.8rem;
    height: 0.5rem;
    margin-bottom: 1rem;
  }

  .strength p {
    font-size: 0.7rem;
    font-family: var(--ff-regular);
  }

  .strengthBar {
    display: flex;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: 2px;
  }

  .errorInfo {
    top: 50%;
    position: absolute;
    right: -3rem;
    transform: translate(-50%, -50%);
    display: flex;
  }

  .errorInfo span.material-icons {
    font-size: 1.5rem;
    color: var(--leftSideText);
    cursor: pointer;
  }

  .point:last-of-type {
    margin: 0 !important;
  }

  .validationErrorList {
    position: relative;
    right: 0;
    background: var(--topNavbar);
    border-radius: 0.5rem;
    margin: 0;
    padding: 0;
    top: 1rem;

    .title {
      color: var(--leftSideText-B);
      font-family: var(--ff-medium);
      font-size: 1.0rem;
      margin-bottom: 0.5rem;
      display: block;
    }
  }

  .validationErrorList::before {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--border);
    position: absolute;
    width: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    left: -0.2rem;
    display: none;
  }

  .validationErrorList li {
    font-size: 0.8rem;
    font-family: var(--ff-regular);
    color: var(--leftSideText);
    line-height: 2;
  }

  .validationErrorList li i {
    width: 13px;
  }

  .point {
    background: var(--border);
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    flex-grow: 1;
  }

  p {
    font-weight: bold;
    flex-grow: 0.1;
  }

  .fa-circle {
    font-size: 6px;
  }

  .fa-check {
    color: #02b502;
  }
