@use '../../core/layout/styles/mixins' as *;
.mat-form-field {
  width: 100%;
}

.signup-outer .container-fill {
  height: 100%;
  background: var(--topNavbar);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  @include flex-middle-center;
  overflow: hidden;
  padding: 2rem 3rem;
}

.login-title h2 {
  color: var(--leftSideText-B);
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  display: inline-block;
  font-size: 1.1rem;
  font-family: var(--ff-medium);
  text-transform: capitalize;
}

.mright-2 .mat-form-field:first-child {
  margin-right: 2rem;
}

.btn.btn-contact {
  opacity: 1;
  cursor: pointer;
  font-family: var(--ff-medium);
  width: 100%;
}

.btn-contact .spinner-border {
  position: relative;
  bottom: 1px;
  right: 2px;
}

.btn.disabled, .btn:disabled {
  opacity: .5;
  color: #fff;
  cursor: not-allowed;
}

.logIn-container .d-flex {
  width: 100%;
  min-width: 20rem;
  margin-bottom: 20px;
}

.logIn-container label {
  margin-bottom: 0px;
  color: var(--leftSideText);
  font-size: 0.85rem;
  font-family: var(--ff-medium);
  padding-left: 5px;
}

.logIn-container label .asterisk-valid {
  color: #f44336;
}

.logIn-container .mat-form-field-infix {
  padding: 15px 0 12px !important;
  margin-top: 0;
  border-top: 0;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0;
  border-right-style: none;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0;
  border-left-style: none;
  flex-grow: 1;
}

a.userLogIn {
  margin-top: 1.5rem;
  cursor: pointer;
  transition: .4s;
  color: var(--prim-button-color-text);
  font-size: .8rem;
  text-decoration: none !important;
  font-family: var(--ff-regular);
  display: inline-block;
}

.policy-link {
  font-size: 12px;
  padding-left: 22px !important;
  padding-top: 0px;
}

.full-resp {
  @include flex-middle-center;
  width: 100%;
  height: calc(100vh - 50px);
}

@media (max-width: 991px) {
  .logIn-container {
    padding: 2rem;
  }

  .signup-outer {
    padding: 3rem;
  }
}

@media (max-width: 768px) {
  .logIn-container .d-flex {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .logIn-container {
    padding: 3rem 1rem 2rem 1rem;
  }

  .login-title h2 {
    font-size: 1rem;
  }

  a.userLogIn {
    font-size: 0.9rem;
  }

  .fd-col-res {
    flex-direction: column;
  }

  .signup-outer {
    padding: 2rem;
    margin-bottom: 50px;
  }

  .btn.btn-contact {
    width: 100%;
    margin-bottom: 1rem;
  }

  button.userLogIn {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .signup-outer {
    padding: 1rem;
  }

  .full-resp {
    height: auto;
  }
}

@media (max-width: 576px) {
  .full-resp {
    padding: 0 !important;
    height: calc(100vh - 50px);
  }

  .full-resp .signup-outer {
    border-radius: 0px;
    margin-top: 0;
    margin-bottom: 0;
    @include flex-align-center;
  }

  .policy-link a {
    font-size: 11px !important;
    padding-left: 0px !important;
    padding-top: 0px;
  }

  .policy-link {
    font-size: 11px !important;
    padding-left: 0px !important;
    padding-top: 0px;
  }

  .signup-outer .container-fill {
    padding: 1rem;
    height: auto;
  }

  .logIn-container {
    padding: 2rem 0.5rem 1rem 0.5rem;
  }
}
/*
.layer-topLeft {
  background: #f2f3f6;
}*/
