<div class="buildYourIndex__sec__leftG__C equity__Comp__leftG">
  <div class="icon__select">
    <!--@if(sharedData.checkMenuPer(2027, 2236) == 'Y'){-->
    <div class="__selectIco select__steps" [class.active]="showDefault_select == 'showList'" (mouseenter)="showDefault_select_hover('showList');sharedData.openLeftSideGrid()" (click)="toggleIconSelect('showList');" style="padding-bottom: 3.5rem;">
      <span class="material-icons-outlined">
        attach_file
      </span>
      <p>Thematic</p>
    </div>
    <!--}
    @else if(sharedData.checkMenuPer(2027, 2236) == 'D'){
    <div class="__selectIco select__steps disableMenu" style="padding-bottom: 3.5rem;">
      <span class="material-icons-outlined">
        attach_file
      </span>
      <p>Equity List</p>
    </div>
    }-->
  </div>
  <div class="showPinnedLeftGrid"  [class.hideLeftAnimate] ="showDefault_select != 'showList'">
    <div class="drilldown__cards__list thematic_index_comp__drill">
      <!--<div class="search_sec w-100 p-rel">
        <div class="default-search-item w-100">
          <form>
            <mat-form-field class="SearchFormField">
              <input type="text" matInput placeholder="Search" [(ngModel)]="inputValue" [formControl]="glbSearch" [matAutocomplete]="auto" (focus)="inputFocused($event,'in')" (ngModelChange)="onInputChange($event)">
              <mat-icon id="eScBtn" *ngIf="!inputValue" matPrefix>search</mat-icon>
              <mat-icon id="close_btn" matPrefix *ngIf="inputValue" (click)="clearInput()">close</mat-icon>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" class="DrilldownSearchBar" (optionSelected)="theBuiltService.gloSrcEnter($event)">
                @for (data of filteredOptions | async; track data) {
                <mat-option [value]="data">
                  <span class="d-flex justify-content-between align-items-center">
                    <span class="indName">{{data.indexname}}</span>
                  </span>
                </mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>-->
      <!--No data text-->
      <!--<p *ngIf="noDataFound" class="search-ND-f">No data found</p>-->
      <!--No data text-->
      <!--</div>-->
      <div class="showEtfMenu mt0_5rem">
        @if(drilldown_List.length>0){
        <div class="d-flex justify-content-between align-items-center common-drill-dwn">
          <span class="sec_type" [@slideLeft]>List</span>
          <div class="d-flex pr0_5rem">

            <div class="dropdown">
              <span class="material-icons" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                swap_vert
              </span>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" id="sortingDrop">
                <ul>
                  <li>
                    <a class="dropdown-item sort_btn">
                      Sort by
                      <button class="btn btn-primary d-flex align-items-center sort-reset" (click)="sharedData.sortResetDefault('L','thematic')"><span class="material-icons" style="font-size: 0.85rem;margin-right:0.2rem;padding: 0;"> refresh</span> Reset</button>
                    </a>

                  </li>
                  <li *ngFor="let item of FilterList">
                    <a class="dropdown-item" [class.active]="item.value === SelFilter" (click)="FilterChanged(item)">{{item.name}}</a>
                    <span class="sortingArrow" [style.display]="item.value === SelFilter ? 'block' : 'none'" (click)="onToggleAscending();$event.stopPropagation()">
                      @if(ascending_val){
                      <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.68765 0.390435C3.84778 0.190272 4.15222 0.190272 4.31235 0.390434L7.4801 4.35012C7.68962 4.61203 7.50315 5 7.16775 5H0.83225C0.496848 5 0.310378 4.61203 0.519902 4.35012L3.68765 0.390435Z"
                              fill="#fff" />
                        <path d="M4.31235 12.6096C4.15222 12.8097 3.84778 12.8097 3.68765 12.6096L0.519903 8.64988C0.310378 8.38797 0.496847 8 0.83225 8H7.16775C7.50315 8 7.68962 8.38797 7.4801 8.64988L4.31235 12.6096Z"
                              fill="#fff" style="opacity: 0.2;" />
                      </svg>
                      }
                      @else{
                      <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.68765 0.390435C3.84778 0.190272 4.15222 0.190272 4.31235 0.390434L7.4801 4.35012C7.68962 4.61203 7.50315 5 7.16775 5H0.83225C0.496848 5 0.310378 4.61203 0.519902 4.35012L3.68765 0.390435Z"
                              fill="#fff" style="opacity: 0.2;" />
                        <path d="M4.31235 12.6096C4.15222 12.8097 3.84778 12.8097 3.68765 12.6096L0.519903 8.64988C0.310378 8.38797 0.496847 8 0.83225 8H7.16775C7.50315 8 7.68962 8.38797 7.4801 8.64988L4.31235 12.6096Z"
                              fill="#fff" />
                      </svg>
                      }
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <span class="material-icons-outlined close__card pin__bar__comp" [class.pinned]="pinnedCompLeft" (click)="defaultPushPin();">
              push_pin
            </span>
          </div>
        </div>
          }
          <div class="df_grid card-body scrollbox scrollable__div" style="height:100%">
            @if(drilldown_List.length>0){
            <div class="grid-list-l w-100" style=" padding-bottom: 0.5rem;">
              <ul>
                @for(data of drilldown_List;track data.name){
                <li (click)="closeEmitValue(); theBuiltService.thematicIndexClick(data)" (mouseenter)="sendHoverDate(data)" (mouseleave)="leaveHoverDate(data)">
                  <span class="material-icons">chevron_right</span>
                  <!--<span class="elip_text">{{data.indexname}}</span>-->
                
                  <span class="elip_text" *ngIf="formatNamehover(data).length < 30">{{formatName(data)}}</span>
                  <span class="elip_text" matTooltipClass="defaultLeftTooltip" (mouseenter)="tooltip.show()" (mouseleave)="tooltip.hide()" *ngIf="formatNamehover(data).length >= 30">
                    {{formatName(data)}}
                    <span class="defaultLeftTooltipText" [matTooltip]='formatNamehover(data)' [matTooltipPosition]="'above'"
                          matTooltipClass="defaultLeftTooltip" #tooltip="matTooltip"></span>
                  </span>
                </li>
                }
              </ul>
            </div>
            }@else{
            <div class="no-r-f">No Result Found.</div>
            }


          </div>
        </div>
    </div>
  </div>
</div>
