<div class="main">

  <div class="row container-fill ">
    <div class="col-md-12 vh-100  d-flex align-items-center justify-content-center">
      <div class="text-center">
        <div class="notFound">
          <div class="due-heading">
            <div class="notFound_icon">
              <img src="../../../assets/images/dashboard-icons/controlPanel.svg" alt="controlPanel" />
            </div>
            <div class="notFound_content">
              <h5>No permission</h5>
              <p>This feature is only available through an agreement with New Age Alpha and your firm. To learn more about agreements
              and partnerships, please call <a href="tel:212.922.2688">212-922-2688</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
