.outline-text-top {
  font-size: 0.75rem;
  color: var(--leftSideText-B);
  margin-right: 0.5rem;
}
.fac_bg {
  background: var(--primary-color-dark);
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.fact-Acc-Error {
  font-size: 0.6rem;
  color: var(--danger);
  font-family: var(--ff-medium);
  /* display: inline-block;
  width: 12rem;*/
}
