#thematic__Comp {
  .left-l {
    position: relative;
    z-index: 9;
    height: 100%;
    padding: 1rem 0 0 0.5rem;
    width: 16%;
    min-width: 15rem;
  }

  .right-l {
    position: fixed;
    z-index: 9;
    height: 100%;
    padding: 1rem 0 0 1rem;
    width: 17%;
    min-width: 16rem;
    right: 0;
    top: 0;
    padding-top: 3rem;
  }

  .right__sec__hover {
    position: fixed;
    right: 5rem;
    top: 3rem;
    height: 93%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    p {
      font-size: 0.8rem;
      font-family: var(--ff-semibold);
      color: var(--leftSideText-B);
      line-height: 1.2;
      margin-bottom: 1rem !important;
      width: 10rem;
      /*   overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;*/
    }

    .box {
      min-width: 8rem;
      border-bottom: 1px dashed var(--border);
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;

      &:last-child {
        border: none;
      }

      span.sub__head {
        font-size: 0.72rem;
        color: var(--iconColor);
        font-family: var(--ff-medium);
      }

      h4 {
        font-size: 1.4rem;
        color: var(--leftSideText-B);
        display: flex;
        align-items: flex-end;

        span.__neg {
          font-size: 1.2rem;
          color: var(--danger);
        }

        span.__pos {
          font-size: 1.2rem;
          color: var(--successColor);
        }
      }
    }
  }
}

.no_data {
  color: var(--leftSideText);
  font-size: 0.8rem;
  font-family: var(--ff-regular);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  text-align: center;
}

.reviewFactsheet_Prebuilt {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 22rem;
  padding-top: 3rem;
  z-index: 1;
}

.basedOn__sec {
  position: fixed;
  top: 3.2rem;
  right: 0;
  left: 0;
  margin: auto;
  width: fit-content;
  font-size: 0.65rem;
  color: var(--leftSideText-B);
  font-family: var(--ff-semibold);
  background: var(--topNavbar);
  padding: 0.2rem 1rem;
  border-radius: 0.3rem;

  .indName {
    color: var(--linkColor);
  }

  .divided {
    color: var(--paraFontColorAlt);
    font-size: 0.6rem;
  }
}

#naaLineChart {
  svg {
    .category {

      text {
        fill: var(--leftSideText);
        font-family: var(--ff-regular);

        &.name {
          text-anchor: middle;
          font-size: 13px;
        }

        &.subname {
          text-anchor: middle;
          font-size: 17px;
          font-family: var(--ff-medium);
        }
      }
    }
  }
}

.reviewFactsheet_Direct {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 22rem;
  padding-top: 3rem;
  z-index: 1;
}
@import '../../core/layout/styles/responsive/thematicStrategies.scss';
