<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="container">
      <div class=" signup-outer">
        <div class='container-fill print-pb-20'>
          <div class="logIn-container">
            <!---- Opening Screen ----->
            <div id="UserLogInForm" class="d-flex justify-content-center align-items-center">
              <div class="Tool_FormSection">
                <div class="content-sec">
                  <p class="head">Thank you.</p>
                  <p class="">Your email has been verified successfully.</p>
                  <div class="text-center forgot-pwd">
                    <a class="btn mod-foot-btn-activeP userLogIn" (click)="LoginEvent()">Login</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
