<div class="notify-l">
  <div class="top-header-n">
    <div class="title-h d-flex justify-content-between align-items-center">
      <h4>Notifications</h4>
      <div class="d-flex align-items-center">
        @if(getNotificationQueue.length > 0 || getHNotificationQueue.length>0){
        <a class="ng-star-inserted" (click)="sharedData.getNotificationDataReload();sharedData.getHNotificationDataReload()" style="line-height: 1;padding: 0.2rem 0.5rem 0.1rem;">
          <span class="material-icons">refresh</span>
        </a>
        <a (click)="deleteAll_row(sharedData.checkMyAppMessage(0,5),'deleteAll')">Dismiss all</a>
        }
        <span class="material-icons" (click)="closeNotify()"> close </span>
      </div>
    </div>
  </div>
  <div class="content-body-n p-rel">
    @if(getNotificationQueue.length == 0 && getHNotificationQueue.length == 0){
    <div class="list-n d-flex justify-content-center align-items-center">
      <span style="color: var(--leftSideText); font-size: 0.8rem;margin: 2rem 0;">{{sharedData.checkMyAppMessage(0, 13)}}</span>
    </div>
    }@else{
    <div class="list-n">
      @for (item of getNotificationQueue; track item) {
      <div class="inner-list-n" *ngIf="item.notifyStatus != 'D' && item.displayQueue != 'N'">
        <span class="material-icons close_row" (click)="closeNotify_row(item)"> close </span>
        <p class="c-g-text">
          <span style="color: var(--linkColor);">{{checkAccVal(item)}} </span>
          {{item.Name}} ({{item.shortName}})
          <span class="c-p-text based-n">&nbsp;<span class="time">Based on</span>&nbsp; <span class="c-p-text ticker-n">{{item.BasedOn}} </span><span *ngIf="checkTicker(item)!='Equity Universe'">({{checkTicker(item)}})</span>&nbsp; <span class="c-p-text time" style="display: block;margin-top: 0.3rem;font-size: 0.6rem;">{{modifiedDate(item.createddate)+'Z'  | date: 'MM/dd/yyyy HH:mm:ss' }}</span></span>
        </p>
        <span class="w-100 d-flex justify-content-between align-items-center">
          <a style="font-size: 0.7rem; font-family: var(--ff-medium); color: var(--errorColor);" *ngIf="item.queueStatus == 'Failed'">ERROR!</a>
          <a (click)="notifyAdminError(item)" style="font-size: 0.7rem; font-family: var(--ff-medium); padding-right: 1rem; cursor: pointer; color: var(--prim-button-color-text) !important" *ngIf="!checkErrorType(item.errMessage) && item.queueStatus == 'Failed'">Notify Support</a>
          <a (click)="insufficientCountClick(item)" style="font-size: 0.7rem; font-family: var(--ff-medium); padding-right: 1rem; cursor: pointer; color: var(--prim-button-color-text) !important" *ngIf="checkErrorType(item.errMessage) && item.queueStatus == 'Failed'">Edit Strategies</a>
        </span>
        <p style="font-size: 0.6rem; display: block; margin: 0 !important;" *ngIf="item.queueStatus == 'Failed'">{{item.errMessage}}</p>
        <div class="step-wizard" *ngIf="item.queueStatus != 'Failed'">
          <ul class="form-wizard-steps">
            <li [class.bluebg]="item.notifyStatus != 'A' && item.notifyStatus == 'I' || item.notifyStatus == 'E'"
                [style.opacity]="item.notifyStatus == 'A' ? '1':'0.4'">
              <span class="inprogress" [class.inprogress]="item.notifyStatus == 'A' || item.notifyStatus == 'I' || item.notifyStatus == 'E'"></span>
              <p>Queue</p>
            </li>
            <li [class.bluebg]="item.notifyStatus != 'A' && item.notifyStatus != 'I' && item.notifyStatus == 'E'"
                [style.opacity]="item.notifyStatus == 'I' ? '1':'0.4'">
              <span class="inprogress" [class.inprogress]="item.notifyStatus != 'A' && item.notifyStatus == 'I' || item.notifyStatus == 'E'"></span>
              <p>In Progress</p>
            </li>
            <li [style.opacity]="item.notifyStatus == 'E' ? '1':'0.4'">
              <span class="active" [class.active]="item.notifyStatus != 'A' && item.notifyStatus != 'I' && item.notifyStatus == 'E'">
                <i class="material-icons i_check">
                  check
                </i>
              </span>
              <p>Completed</p>
            </li>
          </ul>
          <a class="options-v-n" (click)="viewIndex(item)" *ngIf="item.notifyStatus == 'E'">View</a>
        </div>
      </div>
      }

      @for (item of getHNotificationQueue; track item) {
      <div class="inner-list-n" *ngIf="item.notifyStatus != 'D' && item.displayQueue != 'N'">
        <span class="material-icons close_row" (click)="closeNotify_row(item)"> close </span>
        <p class="c-g-text">
          <span>[Holdings History Report] - </span>
          <span style="color: var(--linkColor);">{{checkAccVal(item)}} </span>
          {{item.Name}} ({{item.shortName}})
          <span class="c-p-text based-n">&nbsp;<span class="time">Based on</span>&nbsp; <span class="c-p-text ticker-n">{{item.BasedOn}} </span><span *ngIf="checkTicker(item)!='Equity Universe'">({{checkTicker(item)}})</span>&nbsp; <span class="c-p-text time" style="display: block;margin-top: 0.3rem;font-size: 0.6rem;">{{modifiedDate(item.createddate)+'Z'  | date: 'MM/dd/yyyy HH:mm:ss' }}</span></span>
        </p>
        <span class="w-100 d-flex justify-content-between align-items-center">
          <a style="font-size: 0.7rem; font-family: var(--ff-medium); color: var(--errorColor);" *ngIf="item.queueStatus == 'Failed'">ERROR!</a>          
        </span>
        <p style="font-size: 0.6rem; display: block; margin: 0 !important;" *ngIf="item.queueStatus == 'Failed'">{{item.errMessage}}</p>
        <div class="step-wizard" *ngIf="item.queueStatus != 'Failed'">
          <ul class="form-wizard-steps">
            <li [class.bluebg]="item.notifyStatus != 'A' && item.notifyStatus == 'I' || item.notifyStatus == 'E'"
                [style.opacity]="item.notifyStatus == 'A' ? '1':'0.4'">
              <span class="inprogress" [class.inprogress]="item.notifyStatus == 'A' || item.notifyStatus == 'I' || item.notifyStatus == 'E'"></span>
              <p>Queue</p>
            </li>
            <li [class.bluebg]="item.notifyStatus != 'A' && item.notifyStatus != 'I' && item.notifyStatus == 'E'"
                [style.opacity]="item.notifyStatus == 'I' ? '1':'0.4'">
              <span class="inprogress" [class.inprogress]="item.notifyStatus != 'A' && item.notifyStatus == 'I' || item.notifyStatus == 'E'"></span>
              <p>In Progress</p>
            </li>
            <li [style.opacity]="item.notifyStatus == 'E' ? '1':'0.4'">
              <span class="active" [class.active]="item.notifyStatus != 'A' && item.notifyStatus != 'I' && item.notifyStatus == 'E'">
                <i class="material-icons i_check">
                  check
                </i>
              </span>
              <p>Completed</p>
            </li>           
          </ul>
          <a class="options-v-n d-flex align-items-center" style="flex-direction:column;top:0"  (click)="downloadHis(item)" *ngIf="item.notifyStatus == 'E'">
            <span class="material-icons" style="font-size:1.2rem;margin-bottom:0.3rem">download</span>
            <p>Download</p>
          </a>
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>
 <div class="modal fade warningautoModel" id="viewWarningModel" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" style="background: #00000080 !important;display:none;">
  <div class="modal-dialog modal-dialog-centered delete-stat-modal" role="document" style="max-width:30%">
    <div class="modal-content">
      <div class="split-mod-l">

        <div class="split-mod-right">
          <div class="content-btm" style="border-radius: 0.5rem !important; border: none; text-align: center; ">
            <p style="text-align: center;">
              <span class="material-icons" style="font-size: 3rem;color: var(--btn-border);opacity: .75;">
                error_outline
              </span>
            </p>
            <h3>Warning</h3>
            <p style="font-size: 0.9rem;">{{warMsg}}</p>
            <div class="foot-l">
              <button type="button" class="mod-foot-btn-activeP" data-bs-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

 <div class="modal fade warningautoModel" id="deleteModalRow" style="background: #000000bf !important;">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:30%">
    <div class="modal-content">

      <div class="split-mod-l">
        <div class="split-mod-right">
          <div class="content-btm" style="border-radius: 0.5rem !important; border: none; text-align: center; ">
            <p style="text-align: center;">
              <span class="material-icons" style="opacity: .75;">
                <svg width="45" height="45" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 9V19H8V9H16ZM14.5 3H9.5L8.5 4H5V6H19V4H15.5L14.5 3ZM18 7H6V19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7Z" fill="#dc3545" />
                </svg>
              </span>
            </p>
            <h3>Delete Queue</h3>
            <p style="font-size: 0.9rem;">{{sharedData.checkMyAppMessage(0,4)}}</p>

            <div class="foot-l">
              <button type="button" class="mod-foot-btn-activeP mr_p_5" data-bs-dismiss="modal" (click)="removestrategyRecord();">Confirm</button>
              <button type="button" class="mod-foot-btn-activeS" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
 <div class="modal fade warningautoModel" id="deleteAllModalRow" tabindex="-1" role="dialog" aria-labelledby="deleteAllModalRow" aria-hidden="true" data-keyboard="false" style="background: #000000bf !important;">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:30%">
    <div class="modal-content">
      <div class="split-mod-l">
        <div class="split-mod-right">
          <div class="content-btm" style="border-radius: 0.5rem !important; border: none; text-align: center; ">
            <p style="text-align: center;">
              <span class="material-icons" style="opacity: .75;">
                <svg width="45" height="45" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 9V19H8V9H16ZM14.5 3H9.5L8.5 4H5V6H19V4H15.5L14.5 3ZM18 7H6V19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7Z" fill="#dc3545" />
                </svg>
              </span>
            </p>
            <h3>Delete Queue</h3>
            <p style="font-size: 0.9rem;">{{sharedData.checkMyAppMessage(0,5)}}</p>

            <div class="foot-l">
              <button type="button" class="mod-foot-btn-activeP mr_p_5" data-bs-dismiss="modal" (click)="removeallstrategyRecord();">Confirm</button>
              <button type="button" class="mod-foot-btn-activeS" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
