.no_data {
  color: var(--leftSideText);
  font-size: 0.85rem;
  font-family: var(--ff-regular);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
}
@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin cursor-hover {
  cursor: pointer;
  transition: all .2s;
}

@mixin text-ellipse {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin scrollBoxHeight__cards($calc__rem) {
  height: calc(100vh - $calc__rem);
  overflow: auto;
  padding-right: 2px;
}
@mixin commonScrollBox($calc__rem) {
  max-height: calc(100vh - $calc__rem);
  overflow: auto;
}
.outerScroll__Div {
  @include scrollBoxHeight__cards(11rem);
}

.outerScroll__Div__18 {
  @include scrollBoxHeight__cards(18rem);
}
.commonScrollBox{
  @include commonScrollBox(14rem);
}
.h__line {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border);
}

.buildYourIndex__sec__rightG {
  height: calc(100vh - 3rem);
  position: relative;
  @include flex-align-center;
  flex-direction: row-reverse;

  .calBtn__abs {
    position: absolute;
    width: 50%;
    right: -0.5rem;
    bottom: -3.5rem;
  }

  // .icon__select {
  //   background: var(--topNavbar);
  //   color: var(--iconColor);
  //   font-size: 0.42rem;
  //   text-align: center;
  //   padding: 0.2rem 0.2rem;
  //   margin-right: 0.5rem;
  //   border-radius: 0.3rem;
  //   width: 3rem;
  //   line-height: 1;

  //   .__selectIco {
  //     padding: 0.5rem 0;
  //     margin-bottom: 0rem;
  //     font-size: 0.40rem;
  //     letter-spacing: -0.1px;
  //     font-family: var(--ff-semibold);
  //     @include cursor-hover;
  //     color: var(--iconColor);

  //     span {
  //       font-size: 1.2rem;
  //     }

  //     p {
  //       margin-bottom: 0 !important;
  //       color: var(--iconColor);
  //       font-family: var(--ff-semibold);
  //     }

  //     &:hover:not(.disableMenu) {
  //       color: var(--prim-button-color);

  //       p {
  //         color: var(--prim-button-color);
  //       }
  //     }

  //     &.active {
  //       background: var(--prim-button-color);
  //       color: var(--primary-logo);
  //       border-radius: 0.3rem;

  //       p {
  //         color: var(--primary-logo);
  //       }

  //       &:hover {
  //         p{
  //           color: var(--primary-logo) !important;
  //         }
  //         color: var(--primary-logo) !important;
  //       }
  //     }
  //   }
  // }

  // .icon__select__top {
  //   background: var(--topNavbar);
  //   color: var(--iconColor);
  //   font-size: 0.42rem;
  //   text-align: center;
  //   padding: 0rem 0.2rem;
  //   margin-right: 0.5rem;
  //   border-radius: 0.3rem;
  //   width: 3rem;
  //   line-height: 1;
  //   margin-bottom: 0.5rem;

  //   .__selectIco {
  //     padding: 0.5rem 0;
  //     margin-bottom: 0rem;
  //     font-size: 0.40rem;
  //     letter-spacing: -0.1px;
  //     font-family: var(--ff-semibold);
  //     @include cursor-hover;

  //     span {
  //       font-size: 1.2rem;
  //     }

  //     p {
  //       margin-bottom: 0 !important;
  //       color: var(--leftSideText);
  //     }

  //     &:hover:not(.disableMenu) {
  //       color: var(--prim-button-color);
  //     }

  //     &.active {
  //       background: var(--prim-button-color);
  //       color: var(--primary-logo);
  //       border-radius: 0.3rem;

  //       &:hover {
  //         color: var(--primary-logo) !important;
  //       }
  //     }
  //   }
  // }

  .icon__details{
    padding: 1rem 0.5rem;
  }
  // .icon__details {
  //   width: 16rem;
  //   background-color: var(--topNavbar);
  //   height: fit-content;
  //   border-radius: 0.5rem;
  //   position: absolute;
  //   right: 4rem;
  //   top: 0;
  //   bottom: 0;
  //   margin: auto;
  //   padding: 1rem 0.5rem;
  //   .sup_details {
  //     color: var(--leftSideText);
  //     font-size: 0.60rem;
  //     line-height: 1.2;
  //     display: block;
  //     margin: 0.25rem 0;
  //     font-style: italic;
  //     font-family: var(--ff-regular);

  //     sup {
  //       font-size: 0.4rem;
  //       left: -1px;
  //       top: -0.25vw;
  //     }
  //   }

  //   .openCM_chart {
  //     background: var(--border);
  //     color: var(--prim-button-color-text);
  //     padding: 0.2rem;
  //     border-radius: 0.2rem;
  //     line-height: 1;
  //     margin-right: 0.25rem;
  //     @include cursor-hover;

  //     &:hover {
  //       opacity: 0.75;
  //     }
  //   }

  //   .sector__weights {
  //     .perform_borbtm {
  //       border-bottom: 1px dotted var(--border);
  //     }
  //   }

  //   .commonScrollBox {
  //     max-height: calc(100vh - 11rem);
  //     overflow: auto;
  //   }

  //   .desc__sec {
  //     font-size: 0.72rem;
  //     font-family: var(--ff-regular);
  //     color: var(--leftSideText);
  //   }

  //   .comp__head {
  //     span {
  //       font-size: 1.2rem;
  //       color: var(--leftSideText-B);
  //       @include cursor-hover;

  //       &:hover {
  //         color: var(--prim-button-color);
  //       }
  //     }

  //     span.count {
  //       color: var(--linkColor);
  //       font-family: var(--ff-semibold);
  //       border-left: 1px solid var(--leftSideText);
  //       padding-left: 0.5rem;
  //       margin-left: 0.5rem;
  //       cursor: default;
  //       line-height: 1;
  //       font-size: 0.75rem;
  //     }
  //   }

  //   .search-block {
  //     background: var(--border);
  //     position: absolute;
  //     width: 100%;
  //     left: 0;
  //     top: 0;
  //     border-radius: 0.3rem 0.3rem 0 0;
  //     padding: 0.5rem;
  //     display: none;

  //     &.active {
  //       display: block;
  //     }

  //     span {
  //       color: var(--iconColor);
  //       font-size: 1rem;
  //       cursor: pointer;

  //       &.disable {
  //         opacity: .75;
  //         cursor: default;
  //       }

  //       &:hover:not(.disable) {
  //         color: var(--prim-button-color);
  //       }
  //     }

  //     input {
  //       background: var(--border);
  //       outline: none;
  //       box-shadow: none;
  //       border: none;
  //       width: 100%;
  //       color: var(--leftSideText);
  //       font-size: 0.72rem;
  //     }

  //     input::placeholder {
  //       color: var(--leftSideText) !important;
  //       font-size: 0.72rem;
  //     }
  //   }

  //   .construction {
  //     .list__sec {
  //       padding: 0.325rem 0.25rem;
  //       padding-left: 0.25rem;
  //       line-height: 1.2;
  //       border-bottom: 1px dotted var(--border);
  //       cursor: pointer;
  //       position: relative;
  //       padding-right: 0.15rem;


  //       .d__border {
  //         border-left: 0.15rem solid #ccc;
  //         padding-left: 0.5rem;
  //       }
  //       .select_ico {
  //         display: none;
  //         color: var(--prim-button-color);
  //         font-size: 0.4rem;
  //         position: absolute;
  //         left: 0.4rem;
  //         z-index: 9;
  //       }

  //       &.active {
  //         background: var(--cardsHighlightColorDark);
  //       }

  //       &:hover {
  //         background: var(--cardsHighlightColorDark);

  //         &:before {
  //           background: var(--prim-button-color);
  //         }

  //         .ticker {
  //           color: var(--leftSideText-B) !important;
  //         }

  //         .price {
  //           color: var(--leftSideText-B) !important;
  //         }
  //       }

  //       &:last-child {
  //         border-bottom: 0px solid var(--primary-color);
  //       }


  //       .ind__name {
  //         margin-bottom: 0 !important;
  //         font-size: 0.70rem;
  //         color: var(--leftSideText);
  //         width: 12.5rem;
  //         @include text-ellipse;
  //       }

  //       .inner__tick {
  //         background: var(--border);
  //         padding: 0.1rem;
  //         border-radius: 0.2rem;
  //         margin-top: 0.15rem;
  //         display: inline-flex;
  //         min-width: 3rem;
  //         justify-content: center;
  //       }

  //       .ticker {
  //         width: 31%;
  //         font-size: 0.55rem;
  //         color: var(--leftSideText-B);
  //       }

  //       .price {
  //         width: 20%;
  //         font-size: 0.60rem;
  //         color: var(--leftSideText-B);

  //         &.w-30 {
  //           width: 30%;
  //         }
  //       }

  //       .med-e {
  //         padding: 0.1rem 0.1rem;
  //         border-radius: 0.2rem;
  //         color: #fff;
  //         font-family: var(--ff-medium);
  //         min-width: 2.0rem;
  //         display: inline-block;
  //         text-align: center;
  //       }
     
  //     }
  //   }

  //   .perf__sec {
  //     p {
  //       font-size: 0.60rem;
  //       color: var(--leftSideText);
  //     }

  //     .tab__head {
  //       font-size: 0.65rem;
  //       color: var(--linkColor);
  //       font-family: var(--ff-medium);
  //       background: var(--cardsHighlightColor);
  //       padding-left: 0.25rem;
  //     }

  //     .perform_borbtm {
  //       .b__sec {
  //         border-bottom: 1px dotted var(--border);
  //       }
  //     }

  //     .tab_Cell {
  //       width: 25%;
  //       text-align: right;
  //       padding: 0.15rem 0.25rem;

  //       @include text-ellipse;

  //       &:first-child {
  //         width: 50%;
  //         text-align: left;
  //       }

  //       sup {
  //         font-size: 0.4rem;
  //         left: -1px;
  //         top: -0.25vw;
  //       }

  //       &.hide {
  //         display: none;
  //       }
  //     }

  //     .tab__body {
  //       font-size: 0.62rem;
  //       color: var(--leftSideText-B);
  //       font-family: var(--ff-regular);

  //       .high__color {
  //         color: var(--paraFontColorAlt);
  //         font-family: var(--ff-medium);
  //       }
  //     }
  //   }

  //   .stat__sec {
  //     .w-40 {
  //       width: 38%;
  //     }

  //     .vs_text {
  //       font-size: 0.65rem;
  //       color: var(--linkColor);
  //       text-align: right;
  //       line-height: 1.2;
  //       padding: 0.5rem 0;
  //       font-family: var(--ff-medium);

  //       span {
  //         display: block;
  //       }
  //     }

  //     .tab__body {
  //       font-size: 0.62rem;
  //       color: var(--leftSideText-B);
  //       font-family: var(--ff-regular);
  //       padding: 0.3rem 0.2rem !important;
  //       border-bottom: 1px dashed var(--border);
  //       line-height: 1.2 !important;

  //       .high__color {
  //         color: var(--paraFontColorAlt);
  //         font-family: var(--ff-medium);
  //         width: 55%;
  //         text-align: right;
  //       }
  //     }
  //   }

  //   h4 {
  //     font-size: 0.75rem;
  //     font-family: var(--ff-medium);
  //     text-transform: uppercase;
  //     color: #fff;
  //     margin-right: 1rem;
  //     letter-spacing: 0.5px;
  //     margin-bottom: 0rem;
  //   }

  //   h5 {
  //     font-size: 0.8rem;
  //     font-family: var(--ff-light);
  //     text-transform: uppercase;
  //     color: var(--bs-body-bg);
  //     margin-bottom: 1rem;
  //     letter-spacing: 0.5px;
  //   }

  //   .sub__head {
  //     font-size: 0.72rem;
  //     color: var(--leftSideText-B);
  //     font-family: var(--ff-regular);
  //   }

  //   .sub__text {
  //     font-size: 0.72rem;
  //     color: var(--paraFontColorAlt);
  //     font-family: var(--ff-regular);
  //   }

  //   .sub__ico {
  //     background: var(--border);
  //     font-size: 1.2rem;
  //     color: var(--leftSideText);
  //     padding: 0.25rem;
  //     border-radius: 0.3rem;
  //     line-height: 0;
  //     @include cursor-hover;

  //     &:hover {
  //       color: var(--prim-button-color);
  //     }
  //   }

  //   .close__card {
  //     position: absolute;
  //     right: 0.5rem;
  //     top: 0.5rem;
  //     font-size: 0.8rem;
  //     color: var(--iconColor);
  //     transform: rotate(45deg);
  //     @include cursor-hover;

  //     &:hover {
  //       color: var(--prim-button-color);
  //     }

  //     &.pinned {
  //       transform: rotate(0deg);
  //       color: var(--prim-button-color);
  //     }
  //   }
  // }

  .select__factsheet__details {
    .material-icons-outlined.ico {
      font-size: 0.6rem;
      color: var(--prim-button-color);
      margin-right: 0.25rem;
    }

    .sub__head {
      color: var(--leftSideText);
      @include cursor-hover;

      &:hover {
        color: var(--leftSideText-B);
      }
    }
  }
}
.w66{
  width: 66%;
  margin-left: auto;
  text-align: right;
}
@import '../../../../core/layout/styles/responsive/prebuild.scss'
