<div class="trade_Page">
    <div class="dialog-content">
        <div class="split-mod-l">
            <div class="split-mod-right">
                <div class="close-l" (click)="closeModal()"><span class="material-icons">close</span></div>
                @if(title == 'b-index'){
                    <img class="" height="1100" width="600" src="../../../../assets/images/popup/building-index.svg"
                      style="width: 100%; height: 100%;  top: 0px; background: var(--buyModelbg);" />
                    }
                    @else if (title == 'i-space'){
                    <img class="" height="1100" width="600" src="../../../../assets/images/popup/intro-space.svg"
                      style="width: 100%; height: 100%;  top: 0px;" />
                    }
                    @else if (title == 'w-space'){
                    <img class="" height="1100" width="600" src="../../../../assets/images/popup/why-space.svg"
                      style="width: 100%; height: 100%;  top: 0px;" />
                    }
                    @else if (title == 'benefits-space'){
                    <img class="" height="1100" width="600" src="../../../../assets/images/popup/benefits.svg"
                      style="width: 100%; height: 100%;  top: 0px;" />
                    }
                    @else if (title == 'Where alpha comes'){
                    <img class="" height="1100" width="600" src="../../../../assets/images/popup/where_alpha_comes_dark.svg"
                      style="width: 100%; height: 100%;  top: 0px;" />
                    }
                    @else if (title == 'What is a loser'){
                    <img class="" height="1100" width="600" src="../../../../assets/images/popup/what_is_loser.svg"
                      style="width: 100%; height: 100%;  top: 0px;" />
                    }
                    @else if (title == 'Source of Alpha'){
                    <img class="" height="1100" width="600" src="../../../../assets/images/popup/AvoidLosers_sp_dark.svg"
                      style="width: 100%; height: 100%;  top: 0px;" />
                    }
                    @else if (title == 'Discounted cash flow'){
                    <img class="" height="1100" width="600" src="../../../../assets/images/popup/discounted_cash_flow_dark.svg"
                      style="width: 100%; height: 100%;  top: 0px;" />
                    }
                    @else if (title == 'tesla'){
                    <img class="" height="1100" width="600" src="../../../../assets/images/popup/Tesla_dark.svg"
                      style="width: 100%; height: 100%;  top: 0px;" />
                    }
                    @else if (title == 'ERF Calculation'){
                    <img class="" height="1100" width="600" src="../../../../assets/images/popup/ERF_Calculation_dark.svg"
                      style="width: 100%; height: 100%;  top: 0px;" />
                    }
                    @else if (title == 'fixed-income'){
                    <img class="" height="1100" width="600" src="../../../../assets/images/popup/Fixedincome.svg"
                      style="width: 100%; height: 100%;  top: 0px;" />
                    }
                    @else if (dynamic == 'Source-of-return'){
                      <img class="" height="1100" width="600" src="../../../../assets/images/popup/source_of_return_dark.svg"
                        style="width: 100%; height: 100%;  top: 0px;" />
                      }
                      @else if (dynamic == 'Factor-and-Fund-Performance'){
                        <img class="" height="1100" width="600" src="../../../../assets/images/popup/shadowFund_dark.svg"
                          style="width: 100%; height: 100%;  top: 0px;" />
                        }
                        @else if (dynamic == 'Distribution-Process'){
                          <img class="" height="1100" width="600" src="../../../../assets/images/popup/distribution_process.svg"
                          style="width: 100%; height: 100%;  top: 0px;" />
                        }
            </div>
        </div>
    </div>
</div>