.trade_Page{
    height: 100%;
    .dialog-content{
        height: 100%;
        .split-mod-l{
            height: 100%;
            .split-mod-right{
                height: 100%;
                
            }
        }
    }
}
// Presentation Popup