/*svg.commonSVGCircle {
  position: fixed;
  z-index: 0;
  top: 52%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
*/
input {
  &.center_search {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--dropdownBgHover);
    padding: 2px 5px !important;
    min-height: 30px;
    background: var(--topNavbar);
    font-size: 12px !important;
    color: var(--leftSideText);
    padding-left: 25px !important;
    text-transform: uppercase;
    font-family: var(--ff-medium) !important;
  }
}
