<div class="container-fill leftMove" style="">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="full-resp">
        <div id="ass_Hgt" class="signup-outer">
          <div class='container-fill print-pb-20'>
            <form [formGroup]="forgotPassForm">
              <div class="logIn-container changePasswordContainer activePassword">
                <div class="maxwdth" style="width:45%">
                  <div class="logo-sec">
                    <app-svg-space-img></app-svg-space-img>
                  </div>
                  <div class="login-title"><h2>User Activation</h2></div>
                  <ul class="list-unstyled validationErrorList" id="showRules" style="display: block;">
                    <li><span class="title">Passwords must contain:</span></li>
                    <li class="">
                      <span class="low-upper-case">
                        <i class="fas fa-circle" aria-hidden="true"></i>
                        &nbsp;At least 1 Lowercase &amp; Uppercase
                      </span>
                    </li>
                    <li class="">
                      <span class="one-number">
                        <i class="fas fa-circle" aria-hidden="true"></i>
                        &nbsp;At least 1 Number (<span style="color: var(--leftSideText-B)">0-9</span>)
                      </span>
                    </li>
                    <li class="">
                      <span class="eight-character">
                        <i class="fas fa-circle" aria-hidden="true"></i>
                        &nbsp;At least 8 Character
                      </span>
                    </li>
                    <li class="">
                      <span class="one-special-char">
                        <i class="fas fa-circle" aria-hidden="true"></i>
                        &nbsp;At least 1 special characters from (<span style="color: var(--leftSideText-B)">$:?~!^_&#64;{{'{}'}}</span>)
                      </span>
                    </li>
                    <li class="mt2rem" *ngIf="!specialCharCountValid" style="display: flex; align-items: baseline; color: var(--danger); line-height: 1.2;">
                      <span class="one-special-char mr0_5rem">
                        <i class="fas fa-exclamation-circle" aria-hidden="true"></i>
                      </span>
                      Password must not contain more than 12 special characters.
                    </li>
                  </ul>
                </div>
                <div class="maxwdth" style="width:45%">
                  <div class="d-flex flex-column txt-fields-wdth N-pass" style="padding-bottom: 5px;position: relative">
                    <label>New Password <span class="asterick">*</span></label>

                    <span class="valTick" *ngIf="!hasError('Password', 'required') && !hasError('Password', 'minlength') && !hasError('Password', 'pattern')"></span>
                    <div class="position-relative">
                      <mat-form-field appearance="outline" style="width: 100%;">
                        <input minlength="8" maxlength="50" matInput placeholder="Enter new password" required formControlName="Password" id="Password" [type]="newpassword" (input)="onPasswordInput()" (keydown.space)="$event.preventDefault()">
                        <a (click)="newPassClick()" class="eyeShow">

                          <i class="fa-solid fa-eye" aria-hidden="true" *ngIf="!shownewPass"></i>
                          <i class="fa-solid fa-eye-slash" aria-hidden="true" *ngIf="shownewPass"></i>
                        </a>
                        <mat-error *ngIf="hasError('Password', 'required')">New Password is required</mat-error>
                        <mat-error *ngIf="hasError('Password', 'maxlength')">You have more than 50 characters</mat-error>
                      </mat-form-field>
                      <!-- <span class="checkmark">(Password must contain at least min of 8 characters)</span> -->
                      <!--<span (click)="showRulesClick()" class="errorInfo">
                        <span class="material-icons">
                          info
                        </span>
                        <ul class="list-unstyled validationErrorList" id="showRules" style="display: none;">
                          <li class="">
                            <span class="low-upper-case">
                              <i class="fas fa-circle" aria-hidden="true"></i>
                              &nbsp;Lowercase &amp; Uppercase
                            </span>
                          </li>
                          <li class="">
                            <span class="one-number">
                              <i class="fas fa-circle" aria-hidden="true"></i>
                              &nbsp;Number (0-9)
                            </span>
                          </li>
                          <li class="">
                            <span class="one-special-char">
                              <i class="fas fa-circle" aria-hidden="true"></i>
                              &nbsp;Special Character ($/:?~!"^_&#64;`{{'{ }'}})
                            </span>
                          </li>
                          <li class="">
                            <span class="eight-character">
                              <i class="fas fa-circle" aria-hidden="true"></i>
                              &nbsp;Atleast 8 Character
                            </span>
                          </li>
                        </ul>
                      </span>-->
                    </div>


                  </div>
                  <div class="strength">
                    <ul class="strengthBar">
                      <li class="point" [style.background-color]="bar0"></li>
                      <li class="point" [style.background-color]="bar1"></li>
                      <li class="point" [style.background-color]="bar2"></li>
                      <li class="point" [style.background-color]="bar3"></li>
                    </ul>

                    <p class="text-center mb-0" [style.color]="messageColor" *ngIf="passwordToCheck?.length">{{ message }}</p>
                  </div>
                  <div class="d-flex flex-column txt-fields-wdth" style="position: relative;">
                    <label>Confirm Password <span class="asterick">*</span></label>
                    <mat-form-field appearance="outline">
                      <input minlength="8" maxlength="50" matInput placeholder="Confirm new password" required formControlName="confirmPassword" id="confirmPassword" [type]="password" (input)="onPasswordInput()">
                      <a (click)="onClick()" class="eyeShow">

                        <i class="fa-solid fa-eye" aria-hidden="true" *ngIf="!showPass"></i>
                        <i class="fa-solid fa-eye-slash" aria-hidden="true" *ngIf="showPass"></i>
                      </a>
                      <mat-error *ngIf="hasError('confirmPassword', 'required')">Confirm Password is required</mat-error>
                      <mat-error [style.padding-top]="valueee" *ngIf="hasError('confirmPassword', 'minlength')">Use at least 8 or more characters</mat-error>
                    </mat-form-field>
                    <label *ngIf=flag style="position: absolute; bottom: -0.1rem; padding-left: 0; color: var(--errorColor); font-size: 11px; font-family: var(--ff-medium); ">Password Not Match</label>
                  </div>
                  <div class="text-center" style="margin: 1rem 0 0.5rem;">
                    <button type="submit" value="Submit" class="btn btn-contact btn-theme returnBtn" (click)="PostForgotPass()" [disabled]="checkDisable() || !specialCharCountValid">
                      <span *ngIf="showLoad" class="spinner-border  spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;{{showLoad ? 'Submitting...': 'Submit'}}
                    </button>

                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myErrorModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" data-backdrop="static" style="background: #00000080 !important">
  <div class="modal-dialog modal-dialog-centered delete-stat-modal" role="document" style="max-width:25%">
    <div class="modal-content">
      <div class="split-mod-l">
        <div class="split-mod-right">
          <div class="content-btm" style="border-radius: 0.5rem !important; border: none; text-align: center; ">
            <p style="text-align: center;">
              <span class="material-icons" style="font-size: 3rem;color: var(--btn-border);opacity: .75;">
                error_outline
              </span>
            </p>
            <p style="font-size: 0.9rem; text-align: center;">Please try again...</p>
            <!-- <p style="font-size: 0.9rem; text-align: center;">Please try again later.</p> -->
            <div class="foot-l" style="text-align: center;">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="margin:0">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myErrorModal_PR" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" data-backdrop="static" style="background: #00000080 !important">
  <div class="modal-dialog modal-dialog-centered delete-stat-modal" role="document" style="max-width:25%">
    <div class="modal-content">
      <div class="split-mod-l">
        <div class="split-mod-right">
          <div class="content-btm" style="border-radius: 0.5rem !important; border: none; text-align: center; ">
            <p style="text-align: center;">
              <span class="material-icons" style="font-size: 3rem;color: var(--btn-border);opacity: .75;">
                error_outline
              </span>
            </p>
            <p style="font-size: 0.9rem; text-align: center;">{{customError}}</p>
            <!-- <p style="font-size: 0.9rem; text-align: center;">Please try again later.</p> -->
            <div class="foot-l" style="text-align: center;">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="margin:0">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
