#equity__Comp {
  .left-l {
    position: relative;
    z-index: 9;
    height: 100%;
    padding: 1rem 0 0 0.5rem;
    width: 16%;
    min-width: 15rem;
  }



  .right-l {
    position: fixed;
    z-index: 9;
    height: 100%;
    padding: 1rem 0 0 1rem;
    width: 17%;
    min-width: 16rem;
    right: 0;
    top: 0;
    padding-top: 3rem;
  }
}
.no_data {
  color: var(--leftSideText);
  font-size: 0.85rem;
  font-family: var(--ff-regular);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  text-align: center;
}
.revertPPTMode {
  position: fixed;
  left: -1.2rem;
  top: 50%;
  z-index: 999;
  color: var(--iconColor);
  transform: rotate(-90deg) translate(0px, -100%);
  text-align: center;

  &.active {
    left: 0.5rem;
  }

  .box {
    font-size: 0.7rem;
    color: var(--linkColor);
    background: var(--topNavbar);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    white-space: nowrap;
  }

  span {
    font-size: 1.6rem
  }
}
